.button {
    font: inherit;
    border: 1px solid #454c6b;
    background: #4493a1;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #433ac0;
    border-color: #311188;
  }
  
  .button:focus {
    outline: none;
  }